name: Cache Test

on:
  push:
  workflow_dispatch:

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache/test-cache
          key: cache-8b08631

      - name: prime-cache-8b08631
        run: echo "Cache hit? ${{ steps.cache-step.outputs.cache-hit }}"

      - name: Save something to cache
        run: |
          mkdir -p ~/.cache/test-cache
          echo "cached data" > ~/.cache/test-cache/data.txt
